<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
  <system.webServer>
    <!-- Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx for more information on WebSocket support -->
    <webSocket enabled="false" />
    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <staticContent>
         <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
         <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
         <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
         <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
         <mimeMap fileExtension=".webm" mimeType="video/webm" />
         <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
         <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
         <remove fileExtension=".eot" />
         <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
         <mimeMap fileExtension=".otf" mimeType="font/otf" />
         <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
         <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
         <remove fileExtension=".json" />
         <mimeMap fileExtension=".json" mimeType="application/json" />
     </staticContent>
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
